target
bin
out
*_full*
.target
*.class
logs
tmp
.history
dist
lodmill-ui/.classpath
test.*
*.dot*
!lodmill-rd/doc/samples/*.dot
.project
.settings
plugin.xml_gen
*-gen
.antlr-generator-*.jar
*.*~
lodmill*.jar
*.nt
*.png
*.xsd
