target
bin
out
*_full*
.target
*.class
logs
tmp
.history
dist
lodmill-ui/.classpath
lodmill-ui/.project
lodmill-ui/.settings/org.scala-ide.play2.prefs
lodmill-ui/.settings/org.scala-ide.sdt.core.prefs
test.*
*.dot*
!lodmill-rd/doc/samples/*.dot
!lodmill-ui/doc/*.dot
plugin.xml_gen
*-gen
.antlr-generator-*.jar
*.*~
lodmill*.jar
*.nt
!lodmill-rd/src/test/resources/*.nt
!lodmill-ld/src/test/resources/*.nt
*.png
!lodmill-ui/public/images/*.png
!lodmill-ui/doc/*.png
*.xsd
.cache
lodmill-ui/data/
lodmill-ld/data/
build
latlon.ser_*_
logging.properties
media
log
.DS_Store
lodmill-ui/modules
