target
bin
out
*_full*
.target
*.class
logs
tmp
.history
dist
lodmill-ui/.classpath
test.*
*.dot*
!lodmill-rd/doc/samples/*.dot
plugin.xml_gen
*-gen
.antlr-generator-*.jar
*.*~
lodmill*.jar
*.nt
!lodmill-rd/src/test/resources/*.nt
*.png
*.xsd
.cache
lodmill-ui/data/
lodmill-ld/data/
build
latlon.ser_*_
logging.properties
media
log
.DS_Store
