<settings>
	<mirrors>
		<!-- This is a workaround for non-existing repos that are pulled in by
			some transitive dependencies. This causes long delays when trying to connect to the
			repos. To fix that, we define trvis-ci-central as a mirror of the missing repos.
			We also define travis-ci-central as a mirror of central to speed up Travis builds.
			This file has to be in $M2_HOME/conf/settings.xml or ${user.home}/.m2/settings.xml -->
		<mirror>
			<id>central</id>
			<url>http://repo1.maven.org</url>
			<mirrorOf>jena-repo,fascinator-releases</mirrorOf>
		</mirror>
		<mirror>
			<id>travis-ci-central</id>
			<name>Travis CI Central mirror</name>
			<url>http://maven.mirrors.travis-ci.org/nexus/content/repositories/central/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
</settings>
