@(doc: play.api.libs.json.JsValue)
@import play.api.libs.json.JsValue
@import views.TableRow
@import tags._
<table class="table table-striped">
  @rdfa("ID", "http://d-nb.info/gnd", doc, TableRow.SINGLE_LINK, node = Option(doc))
  @rdfa("Typ", "http://www.w3.org/1999/02/22-rdf-syntax-ns#type", doc, TableRow.SINGLE_VALUE, node = Option(doc \ "@type"))
  @rdfa("Name", "http://d-nb.info/standards/elementset/gnd#preferredNameForThePerson", doc, TableRow.SINGLE_VALUE)
  @rdfa("Kurzinfo", "http://d-nb.info/standards/elementset/gnd#biographicalOrHistoricalInformation", doc, TableRow.SINGLE_VALUE)
  @rdfa("Geschlecht", "http://d-nb.info/standards/elementset/gnd#gender", doc, TableRow.SINGLE_LINK)
  @rdfa("Sprache", "http://d-nb.info/standards/elementset/gnd#languageCode", doc, TableRow.SINGLE_LINK)
  @rdfa("Wirkungsort", "http://d-nb.info/standards/elementset/gnd#placeOfActivity", doc, TableRow.SINGLE_LINK)
  @rdfa("Geburtsjahr", "http://d-nb.info/standards/elementset/gnd#dateOfBirth", doc, TableRow.SINGLE_VALUE)
  @rdfa("Sterbejahr", "http://d-nb.info/standards/elementset/gnd#dateOfDeath", doc, TableRow.SINGLE_VALUE)
  @rdfa("Geburtsort", "http://d-nb.info/standards/elementset/gnd#placeOfBirth", doc, TableRow.SINGLE_LINK)
  @rdfa("Sterbeort", "http://d-nb.info/standards/elementset/gnd#placeOfDeath", doc, TableRow.SINGLE_LINK)
  @rdfa("Alternativer Name", "http://d-nb.info/standards/elementset/gnd#variantNameForThePerson", doc, TableRow.MULTI_VALUE)
  @rdfa("Alte GND-Nummer", "http://d-nb.info/standards/elementset/gnd#oldAuthorityNumber", doc, TableRow.MULTI_VALUE)
  @rdfa("Beruf", "http://d-nb.info/standards/elementset/gnd#professionOrOccupation", doc, TableRow.MULTI_LINK)
  @rdfa("Freund", "http://d-nb.info/standards/elementset/gnd#acquaintanceshipOrFriendship", doc, TableRow.MULTI_LINK)
  @rdfa("Familie", "http://d-nb.info/standards/elementset/gnd#familialRelationship", doc, TableRow.MULTI_LINK)
  @rdfa("Kategorie", "http://d-nb.info/standards/elementset/gnd#gndSubjectCategory", doc, TableRow.MULTI_LINK)
</table>
