@(doc: play.api.libs.json.JsValue)
@import play.api.libs.json.JsValue
@string(value: JsValue) = { @value.asOpt[String].getOrElse("--") }
<table class="table table-striped">
  <tr>
    <td><a href="http://lobid.org/resource">ID</a></td>
    <td>
      @defining(string(doc \ "@id")) { id =>
        <a href="@id">@id</a>
      }
    </td>
  </tr>
  <tr>
    @defining("http://iflastandards.info/ns/isbd/elements/P1004") { p1004 =>
      <td><a href="@p1004">Titel</a></td>
      <td property="@p1004">@string(doc \ p1004)</td>
    }
  </tr>
  <tr>
    @defining("http://iflastandards.info/ns/isbd/elements/P1006") { p1006 =>
      <td><a href="@p1006">Titelzusatz</a></td>
      <td property="@p1006">@string(doc \ p1006)</td>
    }
  </tr>
  <tr>
    @defining("http://purl.org/dc/elements/1.1/creator") { creator =>
    <td><a href="@creator">Autor</a></td>
    <td rel="@creator">
      @defining(string(doc \ creator \ "@id")) { creatorUrl =>
        <a href="@creatorUrl">@creatorUrl</a>
      }
    </td>
    }
  </tr>
  <tr>
    @defining("http://d-nb.info/standards/elementset/gnd#preferredNameForThePerson") { name =>
      <td><a href="@name">Name</a></td>
      <td rel="@name">@string(doc \ "http://purl.org/dc/elements/1.1/creator#preferredNameForThePerson")</td>
    }
  </tr>
  <tr>
    @defining("http://purl.org/dc/terms/issued") { issued =>
      <td><a href="@issued">Erscheinungsjahr</a></td>
      <td property="@issued">@string(doc \ issued)</td>
    }
  </tr>
  @defining("http://www.w3.org/1999/02/22-rdf-syntax-ns#type") { typeProperty =>
    @for(resourceType <- (doc \ "@type").asOpt[Seq[JsValue]].getOrElse(Nil)) {
      <tr>
        <td><a href="@typeProperty">Typ</a></td>
        <td property="@typeProperty"><a href="@string(resourceType)">@string(resourceType)</a></td>
      </tr>
    }
  }
  @defining("http://lobid.org/vocab/lobid#fulltextOnline") { fullTextProperty =>
    @for(fullText <- (doc \ fullTextProperty).asOpt[Seq[JsValue]].getOrElse(Nil)) {
      <tr>
        <td><a href="@fullTextProperty">Volltext</a></td>
        <td rel="@fullTextProperty">
          @defining(string(fullText \ "@id")) { fullTextUrl =>
            <a href=@fullTextUrl>@fullTextUrl</a>
          }
        </td>
      </tr>
    }
  }
  <tr>
    @defining("http://purl.org/ontology/bibo/edition") { biboEdition =>
      <td><a href="@biboEdition">Ausgabe</a></td>
      <td property="@biboEdition">@string(doc \ biboEdition)</td>
    }
  </tr>
  <tr>
    @defining("http://iflastandards.info/ns/isbd/elements/P1016") { p1016 =>
      <td><a href="@p1016">Erscheinungsort</a></td>
      <td property="@p1016">@string(doc \ p1016)</td>
    }
  </tr>
  <tr>
    @defining("http://iflastandards.info/ns/isbd/elements/P1017") { p1017 =>
      <td><a href="@p1017">Verlag</a></td>
      <td property="@p1017">@string(doc \ p1017)</td>
    }
  </tr>
  @defining("http://purl.org/ontology/bibo/isbn10") { isbn10Property =>
    @for(isbn10 <- (doc \ isbn10Property).asOpt[Seq[JsValue]].getOrElse(Nil)) {
      <tr>
        <td><a href="@isbn10Property">ISBN-10</a></td>
        <td property="@isbn10Property">@string(isbn10)</td>
      </tr>
    }
  }
  @defining("http://purl.org/ontology/bibo/isbn13") { isbn13Property =>
    @for(isbn13 <- (doc \ isbn13Property).asOpt[Seq[JsValue]].getOrElse(Nil)) {
      <tr>
        <td><a href="@isbn13Property">ISBN-13</a></td>
        <td property="@isbn13Property">@string(isbn13)</td>
      </tr>
    }
  }
  @defining("http://rdvocab.info/RDARelationshipsWEMI/workManifested") { workTitleProperty =>
    @for(workTitle <- (doc \ workTitleProperty).asOpt[Seq[JsValue]].getOrElse(Nil)) {
      <tr>
        <td><a href="@workTitleProperty">Werktitel</a></td>
        <td rel="@workTitleProperty">
          @defining(string(workTitle \ "@id")) { workTitleUrl =>
            <a href=@workTitleUrl>@workTitleUrl</a>
          }
        </td>
      </tr>
    }
  }
  <tr>
    @defining("http://xmlns.com/foaf/0.1/isPrimaryTopicOf") { topicOf =>
      <td><a href="@topicOf">Weitere Information</a></td>
      <td rel="@topicOf">
        @defining(string(doc \ topicOf \ "@id")) { url =>
          <a href=@url>@url</a>
        }
      </td>
    }
  </tr>
</table>
