<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.lobid.org/metatext/Metatext" 
       class = "org.lobid.metatext.metatext.MetatextPackage"
       genModel = "org/lobid/metatext/Metatext.genmodel" /> 
	
  </extension>




</plugin>
