<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.lobid.org/metatext/Metatext" 
       class = "org.lobid.metatext.metatext.MetatextPackage"
       genModel = "org/lobid/metatext/Metatext.genmodel" /> 
	
  </extension>

  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="Metatext"
        delegate="org.lobid.metatext.launching.MetatextLaunchConfigurationDelegate"
        modes="run"
        id="org.lobid.metatext.launching">
    </launchConfigurationType>
  </extension>
  <extension
        id="org.lobid.metatext.product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipse.ui.ide.workbench"
           name="Metatext">
        <property
              name="appName"
              value="Metatext">
        </property>
     </product>
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipse.ui.ide.workbench"
           name="Metatext">
        <property
              name="appName"
              value="Metatext">
        </property>
     </product>
  </extension>

</plugin>
